{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Details</title>
  </head>
  <body>
    <main>
      <div>
        <h1>{{ todo_list.name }}</h1>
        <h2>Tasks</h2>
        <table>
          <thead>
            <tr>
              <th>Task</th>
              <th>Due date</th>
              <p><a href="{% url 'todo_list_update' id=todo_list.id  %}">Edit Existing!</a><br>
                <a href="{% url 'todo_list_delete' id=todo_list.id  %}">Delete Existing!</a>
                
              </p>
            </tr>
          </thead>
          <tbody>
            {% for item in todo_list.items.all %}
            <tr>
              <td>
                <a href="{% url 'todo_item_update' id=item.id %}">{{ item.task }}</a>
              </td>
              
              <td>{{ item.due_date }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </main>
  </body>
</html>
