{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TodoLists</title>
</head>
<body>
    <main>
        <div>
            <h1>My Lists</h1>
            <p>
              <a href="{% url 'todo_list_create' %}">Create Your Own List!</a><br>
              
              <a href="{% url 'todo_item_create' %}">Create Your Own Item!</a>
            </p>
            <table>
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Number of Items</th>
                  </tr>
                </thead>
                <tbody>
                  {% for todo_list in todo_lists %}
                  <tr>
                    <td><a href="{% url 'todo_list_detail' todo_list.id %}">{{ todo_list.name }}</a></td>
                    <td>{{ todo_list.items.count }}</td>  </tr>
                  {% endfor %}
                </tbody>
              </table>
        </div>
    </main>
    
</body>
</html>